<div class="container">
	<div class="ui card">

		<h1>Team Generator</h1>
		<ul class="names-list">
			<li *ngFor="let member of members">{{ member }}</li>
		</ul>

		<div class="add-members-container">
			<input
			#addMemberInput
			type="text"
			placeholder="Name"
			(input)="inputName(addMemberInput.value)"
			/>
			<button type="submit" (click)="addMember()">Add</button>
		</div>

		<div class="generate-container">
			<input
			type="text"
			placeholder="# of teams"
			/>
			<button type="submit">Generate</button>
		</div>

	</div>
</div>