<div class="ui container">
	<div class="ui card">
		<h1><i class="users icon"></i> Team Generator</h1>
		<ul class="names-list">
			<li *ngFor="let member of members">{{ member }}</li>
		</ul>

		<div class="add-members-container">
			<!-- [value] attribute directive, value is equal to the newMember variable -->
			<input
				#newName
				type="text"
				placeholder="Name"
				(input)="inputName(newName.value)"
				[value]="newMember"
			/>
			<button type="submit" (click)="addMember()" class="ui pink button">
				<i class="plus circle icon"></i>
				Add
			</button>
		</div>

		<div class="generate-container">
			<input
			#teamNumber
			(input)="inputTeams(teamNumber.value)"
			[value]="numberOfTeams"
			class="ui input"
			type="number"
			placeholder="# of teams"
			/>
			<button
			(click)="generateTeam()"
			type="submit"
			class="ui black button">
				<i class="check circle icon"></i>
				Generate
			</button>
		</div>
		<p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
	</div>
</div>
