<div class="ui container">
	<div class="ui card" [ngClass]="{ hidden: teams.length, ' ': !teams.length }" [@fadeAnimation]>
		<h1><i class="users icon"></i> Team Generator</h1>
		<ul class="names-list">
			<li *ngFor="let member of members; let i = index">
				{{ member | titlecase }}
				<button
					*ngIf="members.length"
					(click)="members.splice(i, 1)"
					type="submit"
					class="ui red clear"
				>
					<i class="close icon red-x"></i>
				</button>
			</li>
		</ul>

		<div class="add-members-container">
			<input
				#newName
				type="text"
				placeholder="Name"
				(input)="inputName(newName.value)"
				[value]="newMember"
				(keydown.enter)="addMember()"
			/>

			<button
				type="submit"
				(click)="addMember()"
				class="ui pink button add"
				(keyup.enter)="addMember()"
			>
				<i class="plus circle icon"></i>
				Add
			</button>
		</div>

		<div class="generate-container">
			<input
				#teamNumber
				(input)="inputTeams(teamNumber.value)"
				[value]="numberOfTeams"
				class="ui input"
				type="number"
				placeholder="# of teams"
			/>
			<button (click)="generateTeams()" type="submit" class="ui black button">
				<i class="check circle icon"></i>
				Generate
			</button>
		</div>
		<p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
	</div>

	<div *ngIf="teams.length" class="teams-container" [@fadeAnimation]>
		<app-team
			*ngFor="let team of teams; let i = index"
			class="ui card team-card"
			[team]="team"
			[index]="i"
		></app-team>

		<button (click)="clear()" type="submit" class="ui red button clear-teams">
			<i class="check circle icon"></i>
			Clear
		</button>
	</div>
</div>
